body
{
    font-family: "Calibri";
}
textarea
{
    resize: none;
}
.rotate {
    animation: rotation 1s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.slotate {
    animation: rotation 10s infinite linear;
    margin-left: 15%;
}
.gotate {
    animation: rotation 0.3s infinite linear;
}
.borderleft
{
    border: 1px inset black;
    background-color: white;
    width: 30%;
    margin-left: 12%;
    margin-right: 58%;
    margin-top: 3%;
    text-align: center;
    padding: 10px;
}
.borderright
{
    border: 1px inset black;
    background-color: white;
    width: 30%;
    margin-left: 58%;
    margin-right: 12%;
    margin-top: 3%;
    text-align: center;
    padding: 10px;
}
.borderwhite
{
    border: 1px inset black;
    background-color: white;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    text-align: center;
    padding: 10px;
    height: 200px;
}
.par > div
{
  position: absolute;
  float: left;
  clear: none;
  height: 200px;
}
.begin
{
  text-align: center;
  font-weight: 1000;
  font-size: 100px;
}
.spinappear{
  animation: spinappear 1s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.titleappear{
  animation: titleappear 2s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes spinappear {
  from {
    transform: rotate(270deg) scale(0,0);
  }
  to {
    transform: rotate(360deg) scale(1,1);
  }
}

@keyframes titleappear {
  from {
    transform: scale(0,0);
  }
  to {
    transform: scale(1,1);
  }
}
